/project-one/__pycache__
/project-one/fastapienv

/project-two/__pycache__
/project-two/fastapienv

/project-three/fastapienv
/project-three/TodoApp/__pycache__
/project-three/TodoApp/todosapp.db
/project-three/TodoApp/routers/__pycache__
